name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: MohamedRaghebOmer
          template: classic
          
          base: header
          base_indepth: yes
          
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: percentage, lines
          plugin_languages_sections: most-used
          
          config_theme: radical
          
          config_order: base.header, languages
